html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #77567A;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: "Didact", sans-serif;
}

#top {
  background-color: #F0F8FC;
  text-align: center;
  margin: 0 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 2rem .5rem;
  border: 3px solid black;
}

#buttons{
  display: flex;
  flex-direction: row;
}

#quizCreator{
  padding-right: .5rem;
}

#top h3 {
  font-size: 2em;
}

#content {
  margin-top: 100px;
  font-size: 2em;
  text-align: center;
}

#choice4{
  padding-bottom: .8rem;
}

@font-face {
  font-family: 'Lora';
  src: url("./font/didact.woff") format("woff"); }